/*****************************************************************************
 *
 *   File Name:      xenbus.rc
 *
 *   %version:       30 %
 *   %derived_by:    kallan %
 *   %date_modified: Wed Apr 08 13:01:09 2009 %
 *
 *****************************************************************************/
/*****************************************************************************
 * Copyright (C) 2007-2008 Unpublished Work of Novell, Inc. All Rights Reserved.
 *
 * THIS IS AN UNPUBLISHED WORK OF NOVELL, INC.  IT CONTAINS NOVELL'S
 * CONFIDENTIAL, PROPRIETARY, AND TRADE SECRET INFORMATION.  NOVELL
 * RESTRICTS THIS WORK TO NOVELL EMPLOYEES WHO NEED THE WORK TO PERFORM
 * THEIR ASSIGNMENTS AND TO THIRD PARTIES AUTHORIZED BY NOVELL IN WRITING.
 * THIS WORK MAY NOT BE USED, COPIED, DISTRIBUTED, DISCLOSED, ADAPTED,
 * PERFORMED, DISPLAYED, COLLECTED, COMPILED, OR LINKED WITHOUT NOVELL'S
 * PRIOR WRITTEN CONSENT.  USE OR EXPLOITATION OF THIS WORK WITHOUT
 * AUTHORIZATION COULD SUBJECT THE PERPETRATOR TO CRIMINAL AND  CIVIL
 * LIABILITY.
 *****************************************************************************/

/*++

Copyright (C) 2007-2009 Unpublished Work of Novell, Inc. All Rights Reserved.

Module Name:

   xenbus.rc

Abstract:

    Internal resource file for xenbus.

--*/

#include <windows.h>
#include <ntverp.h>
#include <win_version.h>
#include "xenbus_ver.h"

#define VER_INTERNALNAME_STR        "xenbus.sys"
#define VER_ORIGINALFILENAME_STR    "xenbus.sys"

#undef VER_PRODUCTVERSION
#define VER_PRODUCTVERSION          PV_PRODUCTVERSION

#undef VER_PRODUCTVERSION_STR
#define VER_PRODUCTVERSION_STR      PV_PRODUCTVERSION_STR

#undef VER_COMPANYNAME_STR
#define VER_COMPANYNAME_STR         VIRT_COMPANYNAME_STR

#undef VER_FILEDESCRIPTION_STR
#undef VER_PRODUCTNAME_STR

#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM

#define VER_FILETYPE                VFT_DRV

/* Strings to be translated */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

#define VER_LEGALCOPYRIGHT_STR      "Copyright \251 2007-2009 Novell, Inc. All rights reserved.", "\0"

/* Windows 2000 */
#ifdef TARGET_OS_Win2K
#define VER_FILEDESCRIPTION_STR     "SUSE Bus Driver for Windows 2000 on Xen"
#define VER_PRODUCTNAME_STR         "SUSE Drivers for Windows 2000 (32-bit) on Xen"

/* Windows XP 32 bit  */
#elif defined TARGET_OS_WinXP
#define VER_FILEDESCRIPTION_STR     "SUSE Bus Driver for Windows XP on Xen"
#define VER_PRODUCTNAME_STR         "SUSE Drivers for Windows XP (32-bit) on Xen"

/* Windows 2003 32 bit, Windows 2003 64 bit, and XP 64 bit */
#elif defined TARGET_OS_WinNET
#ifdef ARCH_x86
#define VER_FILEDESCRIPTION_STR     "Bus Driver for Windows Server 2003 on Xen"
#define VER_PRODUCTNAME_STR         "SUSE Drivers for Windows Server 2003 (32-bit) on Xen"
#else
#define VER_FILEDESCRIPTION_STR     "Bus Driver for Windows XP/Server 2003 on Xen"
#define VER_PRODUCTNAME_STR         "SUSE Drivers for Windows XP and Windows Server 2003 (64-bit) on Xen"
#endif

/* Windows Vista and Windows 2008 */
#elif defined TARGET_OS_WinLH
#ifdef ARCH_x86
#define VER_FILEDESCRIPTION_STR     "Bus Driver for Windows Vista/Server 2008 on Xen"
#define VER_PRODUCTNAME_STR         "SUSE Drivers for Windows Vista and Windows Server 2008 (32-bit) on Xen"
#else
#define VER_FILEDESCRIPTION_STR     "Bus Driver for Windows Vista/Server 2008 on Xen"
#define VER_PRODUCTNAME_STR         "SUSE Drivers for Windows Vista and Windows Server 2008 (64-bit) on Xen"
#endif
#endif

#include "common.ver"

