#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    		VFT_DRV
#define VER_FILESUBTYPE 		VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR		"Dynamic VBus Enumerator"
#define VER_INTERNALNAME_STR        	"vbus.sys"
#define VER_ORIGINALFILENAME_STR    	"vbus.sys"
#ifdef VER_PRODUCTVERSION
#undef VER_PRODUCTVERSION
#define VER_PRODUCTVERSION 		1,00,00,001
#endif

#include "common.ver"
